.navbar {
    display: flex;
    justify-content: space-around;
    background-color: $secondary-12;

    .navbar-content {
        display: flex;
        justify-content: space-between;
        flex-basis: 70%;

        .navbar-brand {
            font-size: var(--spacer-5);
            transition: all .1s linear;
            padding: 1rem;
            color: $primary-8;

        }

        .navbar-menu {
            .navbar-items {
                display: flex;

                .navbar-item {
                    padding: 1rem;

                    .navbar-link {
                        font-size: var(--spacer-4);
                        transition: all .1s linear;
                        margin-right: 1rem;
                        color: $primary-8;

                        &:hover {
                            cursor: pointer;
                            color: $secondary-11;
                        }
                    }
                }
            }
        }
    }

    .navbar-login {
        padding: 1rem;

        .navbar-login-link {
            font-size: var(--spacer-4);
            transition: all .1s linear;
            padding: 1rem;
            color: $primary-8;

            &:hover {
                cursor: pointer;
                color: $secondary-11;
            }
        }
    }

}

.navbar-toggle {
    display: none;
    background-color: $secondary-12;
    border-bottom: 1px solid rgba(207, 207, 207, 0.603);
    position: relative;

    .navbar-toggle-button {
        border: none;
        transition: all .2s linear;
        padding: 1rem;
        background-color: transparent;

        &:hover {
            cursor: pointer;
            opacity: .8;
        }
    }

    .navbar-toggle-menu {
        display: none;
        height: 100%;
        background-color: $secondary-12;
        z-index: 4;
        transition: all .2s linear;
        position: absolute;
        width: 100%;

        .navbar-toggle-items {
            text-align: center;

            .navbar-toggle-item {
                padding: 1rem;
                transition: all .2s linear;
                border-bottom: .1rem solid $secondary-14;
                background-color: $secondary-12;
                .navbar-toggle-link {
                    display: block;
                    font-size: var(--spacer-5);
                }

                &:hover {
                    cursor: pointer;
                    background-color: $secondary-13;
                }
            }
        }

        &.active {
            display: block;
        }

    }
}

.navbar-toggle-touch-close {
    display: none;

    &.active {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 3;
        background-color: rgba(224, 222, 222, 0.37);
    }
}

@media screen and (max-width:768px) {
    .navbar {
        display: none;
    }

    .navbar-toggle {
        display: block;
    }

}

@media screen and (min-width:768px) {
    .navbar-toggle-touch-close {
        &.active {
            display: none;
        }
    }

}