:root {
  --spacer-1: 4px;
  --spacer-2: 8px;
  --spacer-3: 12px;
  --spacer-4: 16px;
  --spacer-5: 20px;
  --spacer-6: 24px;
  --spacer-7: 28px;
  --spacer-8: 32px;
  --spacer-9: 36px;
  --spacer-10: 40px;
  --spacer-11: 44px;
  --spacer-12: 48px;
  --spacer-13: 52px;
  --spacer-14: 56px;
  --spacer-15: 60px;
  --spacer-16: 64px;
  --spacer-17: 68px;
  --spacer-18: 72px;
  --spacer-19: 76px;
  --spacer-20: 80px;
  --spacer-21: 84px;
  --spacer-22: 88px;
  --spacer-23: 92px;
  --spacer-24: 96px;
  --spacer-25: 100px;
  --spacer-26: 104px;
  --spacer-27: 108px;
  --spacer-28: 112px;
  --spacer-29: 116px;
  --spacer-30: 120px;
  --spacer-31: 124px;
  --spacer-32: 128px;
  --spacer-33: 132px;
  --spacer-34: 136px;
  --spacer-35: 140px;
  --spacer-36: 144px;
  --spacer-37: 148px;
  --spacer-38: 152px;
  --spacer-39: 156px;
  --spacer-40: 160px;
  --font-size-10: 10px;
  --font-size-11: 11px;
  --font-size-12: 12px;
  --font-size-13: 13px;
  --font-size-14: 14px;
  --font-size-15: 15px;
  --font-size-16: 16px;
  --font-size-17: 17px;
  --font-size-18: 18px;
  --font-size-19: 19px;
  --font-size-20: 20px;
  --font-size-21: 21px;
  --font-size-22: 22px;
  --font-size-23: 23px;
  --font-size-24: 24px;
  --font-size-25: 25px;
  --font-size-26: 26px;
  --font-size-27: 27px;
  --font-size-28: 28px;
  --font-size-29: 29px;
  --font-size-30: 30px;
  --font-size-31: 31px;
  --font-size-32: 32px;
  --font-size-33: 33px;
  --font-size-34: 34px;
  --font-size-35: 35px;
  --font-size-36: 36px;
  --font-size-37: 37px;
  --font-size-38: 38px;
  --font-size-39: 39px;
  --font-size-40: 40px;
  --font-size-41: 41px;
  --font-size-42: 42px;
  --font-size-43: 43px;
  --font-size-44: 44px;
  --font-size-45: 45px;
  --font-size-46: 46px;
  --font-size-47: 47px;
  --font-size-48: 48px;
  --font-size-49: 49px;
  --font-size-50: 50px;
  --font-size-51: 51px;
  --font-size-52: 52px;
  --font-size-53: 53px;
  --font-size-54: 54px;
  --font-size-55: 55px;
  --font-size-56: 56px;
  --font-size-57: 57px;
  --font-size-58: 58px;
  --font-size-59: 59px;
  --font-size-60: 60px;
  --font-size-61: 61px;
  --font-size-62: 62px;
  --font-size-63: 63px;
  --font-size-64: 64px;
  --font-size-65: 65px;
  --font-size-66: 66px;
  --font-size-67: 67px;
  --font-size-68: 68px;
  --font-size-69: 69px;
  --font-size-70: 70px;
  --font-size-71: 71px;
  --font-size-72: 72px;
  --font-size-73: 73px;
  --font-size-74: 74px;
  --font-size-75: 75px;
  --font-size-76: 76px;
  --font-size-77: 77px;
  --font-size-78: 78px;
  --font-size-79: 79px;
  --font-size-80: 80px;
  --font-size-81: 81px;
  --font-size-82: 82px;
  --font-size-83: 83px;
  --font-size-84: 84px;
  --font-size-85: 85px;
  --font-size-86: 86px;
  --font-size-87: 87px;
  --font-size-88: 88px;
  --font-size-89: 89px;
  --font-size-90: 90px;
  --font-size-91: 91px;
  --font-size-92: 92px;
  --font-size-93: 93px;
  --font-size-94: 94px;
  --font-size-95: 95px;
  --font-size-96: 96px;
  --font-size-97: 97px;
  --font-size-98: 98px;
  --font-size-99: 99px;
  --font-size-100: 100px;
  --font-size-101: 101px;
  --font-size-102: 102px;
  --font-size-103: 103px;
  --font-size-104: 104px;
  --font-size-105: 105px;
  --font-size-106: 106px;
  --font-size-107: 107px;
  --font-size-108: 108px;
  --font-size-109: 109px;
  --font-size-110: 110px;
  --font-size-111: 111px;
  --font-size-112: 112px;
  --font-size-113: 113px;
  --font-size-114: 114px;
  --font-size-115: 115px;
  --font-size-116: 116px;
  --font-size-117: 117px;
  --font-size-118: 118px;
  --font-size-119: 119px;
  --font-size-120: 120px ;
}

@media (max-width: 1199px) {
  :root {
    --spacer-1: 3px;
    --spacer-2: 6px;
    --spacer-3: 9px;
    --spacer-4: 12px;
    --spacer-5: 15px;
    --spacer-6: 18px;
    --spacer-7: 21px;
    --spacer-8: 24px;
    --spacer-9: 27px;
    --spacer-10: 30px;
    --spacer-11: 33px;
    --spacer-12: 36px;
    --spacer-13: 39px;
    --spacer-14: 42px;
    --spacer-15: 45px;
    --spacer-16: 48px;
    --spacer-17: 51px;
    --spacer-18: 54px;
    --spacer-19: 57px;
    --spacer-20: 60px;
    --spacer-21: 63px;
    --spacer-22: 66px;
    --spacer-23: 69px;
    --spacer-24: 72px;
    --spacer-25: 75px;
    --spacer-26: 78px;
    --spacer-27: 81px;
    --spacer-28: 84px;
    --spacer-29: 87px;
    --spacer-30: 90px;
    --spacer-31: 93px;
    --spacer-32: 96px;
    --spacer-33: 99px;
    --spacer-34: 102px;
    --spacer-35: 105px;
    --spacer-36: 108px;
    --spacer-37: 111px;
    --spacer-38: 114px;
    --spacer-39: 117px;
    --spacer-40: 120px;
    --font-size-10: 9.5px;
    --font-size-11: 10.45px;
    --font-size-12: 11.4px;
    --font-size-13: 12.35px;
    --font-size-14: 13.3px;
    --font-size-15: 13.5px;
    --font-size-16: 14.4px;
    --font-size-17: 15.3px;
    --font-size-18: 16.2px;
    --font-size-19: 15.2px;
    --font-size-20: 16px;
    --font-size-21: 16.8px;
    --font-size-22: 17.6px;
    --font-size-23: 18.4px;
    --font-size-24: 19.2px;
    --font-size-25: 20px;
    --font-size-26: 20.8px;
    --font-size-27: 21.6px;
    --font-size-28: 22.4px;
    --font-size-29: 21.75px;
    --font-size-30: 22.5px;
    --font-size-31: 23.25px;
    --font-size-32: 24px;
    --font-size-33: 24.75px;
    --font-size-34: 25.5px;
    --font-size-35: 26.25px;
    --font-size-36: 27px;
    --font-size-37: 24.05px;
    --font-size-38: 24.7px;
    --font-size-39: 25.35px;
    --font-size-40: 26px;
    --font-size-41: 26.65px;
    --font-size-42: 27.3px;
    --font-size-43: 27.95px;
    --font-size-44: 28.6px;
    --font-size-45: 29.25px;
    --font-size-46: 29.9px;
    --font-size-47: 30.55px;
    --font-size-48: 31.2px;
    --font-size-49: 31.85px;
    --font-size-50: 32.5px;
    --font-size-51: 33.15px;
    --font-size-52: 33.8px;
    --font-size-53: 34.45px;
    --font-size-54: 35.1px;
    --font-size-55: 35.75px;
    --font-size-56: 36.4px;
    --font-size-57: 37.05px;
    --font-size-58: 37.7px;
    --font-size-59: 38.35px;
    --font-size-60: 39px;
    --font-size-61: 39.65px;
    --font-size-62: 40.3px;
    --font-size-63: 40.95px;
    --font-size-64: 41.6px;
    --font-size-65: 42.25px;
    --font-size-66: 42.9px;
    --font-size-67: 43.55px;
    --font-size-68: 44.2px;
    --font-size-69: 44.85px;
    --font-size-70: 45.5px;
    --font-size-71: 46.15px;
    --font-size-72: 46.8px;
    --font-size-73: 47.45px;
    --font-size-74: 48.1px;
    --font-size-75: 48.75px;
    --font-size-76: 49.4px;
    --font-size-77: 50.05px;
    --font-size-78: 50.7px;
    --font-size-79: 51.35px;
    --font-size-80: 52px;
    --font-size-81: 52.65px;
    --font-size-82: 53.3px;
    --font-size-83: 53.95px;
    --font-size-84: 54.6px;
    --font-size-85: 46.75px;
    --font-size-86: 47.3px;
    --font-size-87: 47.85px;
    --font-size-88: 48.4px;
    --font-size-89: 48.95px;
    --font-size-90: 49.5px;
    --font-size-91: 50.05px;
    --font-size-92: 50.6px;
    --font-size-93: 51.15px;
    --font-size-94: 51.7px;
    --font-size-95: 52.25px;
    --font-size-96: 52.8px;
    --font-size-97: 53.35px;
    --font-size-98: 53.9px;
    --font-size-99: 54.45px;
    --font-size-100: 55px;
    --font-size-101: 55.55px;
    --font-size-102: 56.1px;
    --font-size-103: 56.65px;
    --font-size-104: 57.2px;
    --font-size-105: 57.75px;
    --font-size-106: 58.3px;
    --font-size-107: 58.85px;
    --font-size-108: 59.4px;
    --font-size-109: 59.95px;
    --font-size-110: 60.5px;
    --font-size-111: 61.05px;
    --font-size-112: 61.6px;
    --font-size-113: 62.15px;
    --font-size-114: 62.7px;
    --font-size-115: 63.25px;
    --font-size-116: 63.8px;
    --font-size-117: 64.35px;
    --font-size-118: 64.9px;
    --font-size-119: 65.45px;
    --font-size-120: 66px ;
  }
}
@media (max-width: 767px) {
  :root {
    --spacer-1: 2px;
    --spacer-2: 4px;
    --spacer-3: 6px;
    --spacer-4: 8px;
    --spacer-5: 10px;
    --spacer-6: 12px;
    --spacer-7: 14px;
    --spacer-8: 16px;
    --spacer-9: 18px;
    --spacer-10: 20px;
    --spacer-11: 22px;
    --spacer-12: 24px;
    --spacer-13: 26px;
    --spacer-14: 28px;
    --spacer-15: 30px;
    --spacer-16: 32px;
    --spacer-17: 34px;
    --spacer-18: 36px;
    --spacer-19: 38px;
    --spacer-20: 40px;
    --spacer-21: 42px;
    --spacer-22: 44px;
    --spacer-23: 46px;
    --spacer-24: 48px;
    --spacer-25: 50px;
    --spacer-26: 52px;
    --spacer-27: 54px;
    --spacer-28: 56px;
    --spacer-29: 58px;
    --spacer-30: 60px;
    --spacer-31: 62px;
    --spacer-32: 64px;
    --spacer-33: 66px;
    --spacer-34: 68px;
    --spacer-35: 70px;
    --spacer-36: 72px;
    --spacer-37: 74px;
    --spacer-38: 76px;
    --spacer-39: 78px;
    --spacer-40: 80px;
    --font-size-10: 8.5px;
    --font-size-11: 9.35px;
    --font-size-12: 10.2px;
    --font-size-13: 11.05px;
    --font-size-14: 11.9px;
    --font-size-15: 12px;
    --font-size-16: 12.8px;
    --font-size-17: 13.6px;
    --font-size-18: 14.4px;
    --font-size-19: 14.25px;
    --font-size-20: 15px;
    --font-size-21: 15.75px;
    --font-size-22: 16.5px;
    --font-size-23: 17.25px;
    --font-size-24: 18px;
    --font-size-25: 18.75px;
    --font-size-26: 19.5px;
    --font-size-27: 20.25px;
    --font-size-28: 21px;
    --font-size-29: 20.3px;
    --font-size-30: 21px;
    --font-size-31: 21.7px;
    --font-size-32: 22.4px;
    --font-size-33: 23.1px;
    --font-size-34: 23.8px;
    --font-size-35: 24.5px;
    --font-size-36: 25.2px;
    --font-size-37: 20.35px;
    --font-size-38: 20.9px;
    --font-size-39: 21.45px;
    --font-size-40: 22px;
    --font-size-41: 22.55px;
    --font-size-42: 23.1px;
    --font-size-43: 23.65px;
    --font-size-44: 24.2px;
    --font-size-45: 24.75px;
    --font-size-46: 25.3px;
    --font-size-47: 25.85px;
    --font-size-48: 26.4px;
    --font-size-49: 26.95px;
    --font-size-50: 27.5px;
    --font-size-51: 28.05px;
    --font-size-52: 28.6px;
    --font-size-53: 29.15px;
    --font-size-54: 29.7px;
    --font-size-55: 30.25px;
    --font-size-56: 30.8px;
    --font-size-57: 31.35px;
    --font-size-58: 31.9px;
    --font-size-59: 32.45px;
    --font-size-60: 33px;
    --font-size-61: 33.55px;
    --font-size-62: 34.1px;
    --font-size-63: 34.65px;
    --font-size-64: 35.2px;
    --font-size-65: 35.75px;
    --font-size-66: 36.3px;
    --font-size-67: 36.85px;
    --font-size-68: 37.4px;
    --font-size-69: 37.95px;
    --font-size-70: 38.5px;
    --font-size-71: 39.05px;
    --font-size-72: 39.6px;
    --font-size-73: 40.15px;
    --font-size-74: 40.7px;
    --font-size-75: 41.25px;
    --font-size-76: 41.8px;
    --font-size-77: 42.35px;
    --font-size-78: 42.9px;
    --font-size-79: 43.45px;
    --font-size-80: 44px;
    --font-size-81: 44.55px;
    --font-size-82: 45.1px;
    --font-size-83: 45.65px;
    --font-size-84: 46.2px;
    --font-size-85: 38.25px;
    --font-size-86: 38.7px;
    --font-size-87: 39.15px;
    --font-size-88: 39.6px;
    --font-size-89: 40.05px;
    --font-size-90: 40.5px;
    --font-size-91: 40.95px;
    --font-size-92: 41.4px;
    --font-size-93: 41.85px;
    --font-size-94: 42.3px;
    --font-size-95: 42.75px;
    --font-size-96: 43.2px;
    --font-size-97: 43.65px;
    --font-size-98: 44.1px;
    --font-size-99: 44.55px;
    --font-size-100: 45px;
    --font-size-101: 45.45px;
    --font-size-102: 45.9px;
    --font-size-103: 46.35px;
    --font-size-104: 46.8px;
    --font-size-105: 47.25px;
    --font-size-106: 47.7px;
    --font-size-107: 48.15px;
    --font-size-108: 48.6px;
    --font-size-109: 49.05px;
    --font-size-110: 49.5px;
    --font-size-111: 49.95px;
    --font-size-112: 50.4px;
    --font-size-113: 50.85px;
    --font-size-114: 51.3px;
    --font-size-115: 51.75px;
    --font-size-116: 52.2px;
    --font-size-117: 52.65px;
    --font-size-118: 53.1px;
    --font-size-119: 53.55px;
    --font-size-120: 54px ;
  }
}
.col-xl,
.col-xl-auto,
.col-xl-12,
.col-xl-11,
.col-xl-10,
.col-xl-9,
.col-xl-8,
.col-xl-7,
.col-xl-6,
.col-xl-5,
.col-xl-4,
.col-xl-3,
.col-xl-2,
.col-xl-1,
.col-lg,
.col-lg-auto,
.col-lg-12,
.col-lg-11,
.col-lg-10,
.col-lg-9,
.col-lg-8,
.col-lg-7,
.col-lg-6,
.col-lg-5,
.col-lg-4,
.col-lg-3,
.col-lg-2,
.col-lg-1,
.col-md,
.col-md-auto,
.col-md-12,
.col-md-11,
.col-md-10,
.col-md-9,
.col-md-8,
.col-md-7,
.col-md-6,
.col-md-5,
.col-md-4,
.col-md-3,
.col-md-2,
.col-md-1,
.col-sm,
.col-sm-auto,
.col-sm-12,
.col-sm-11,
.col-sm-10,
.col-sm-9,
.col-sm-8,
.col-sm-7,
.col-sm-6,
.col-sm-5,
.col-sm-4,
.col-sm-3,
.col-sm-2,
.col-sm-1,
.col,
.col-auto,
.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--spacer-3));
  margin-left: calc(-1 * var(--spacer-3));
}

.align-items-center {
  align-items: center;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.row .col,
.row [class*=col-] {
  padding-right: var(--spacer-3);
  padding-left: var(--spacer-3);
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.order-first {
  order: -1;
}

.order-last {
  order: 13;
}

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.order-9 {
  order: 9;
}

.order-10 {
  order: 10;
}

.order-11 {
  order: 11;
}

.order-12 {
  order: 12;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-sm-first {
    order: -1;
  }
  .order-sm-last {
    order: 13;
  }
  .order-sm-0 {
    order: 0;
  }
  .order-sm-1 {
    order: 1;
  }
  .order-sm-2 {
    order: 2;
  }
  .order-sm-3 {
    order: 3;
  }
  .order-sm-4 {
    order: 4;
  }
  .order-sm-5 {
    order: 5;
  }
  .order-sm-6 {
    order: 6;
  }
  .order-sm-7 {
    order: 7;
  }
  .order-sm-8 {
    order: 8;
  }
  .order-sm-9 {
    order: 9;
  }
  .order-sm-10 {
    order: 10;
  }
  .order-sm-11 {
    order: 11;
  }
  .order-sm-12 {
    order: 12;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-md-first {
    order: -1;
  }
  .order-md-last {
    order: 13;
  }
  .order-md-0 {
    order: 0;
  }
  .order-md-1 {
    order: 1;
  }
  .order-md-2 {
    order: 2;
  }
  .order-md-3 {
    order: 3;
  }
  .order-md-4 {
    order: 4;
  }
  .order-md-5 {
    order: 5;
  }
  .order-md-6 {
    order: 6;
  }
  .order-md-7 {
    order: 7;
  }
  .order-md-8 {
    order: 8;
  }
  .order-md-9 {
    order: 9;
  }
  .order-md-10 {
    order: 10;
  }
  .order-md-11 {
    order: 11;
  }
  .order-md-12 {
    order: 12;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-lg-first {
    order: -1;
  }
  .order-lg-last {
    order: 13;
  }
  .order-lg-0 {
    order: 0;
  }
  .order-lg-1 {
    order: 1;
  }
  .order-lg-2 {
    order: 2;
  }
  .order-lg-3 {
    order: 3;
  }
  .order-lg-4 {
    order: 4;
  }
  .order-lg-5 {
    order: 5;
  }
  .order-lg-6 {
    order: 6;
  }
  .order-lg-7 {
    order: 7;
  }
  .order-lg-8 {
    order: 8;
  }
  .order-lg-9 {
    order: 9;
  }
  .order-lg-10 {
    order: 10;
  }
  .order-lg-11 {
    order: 11;
  }
  .order-lg-12 {
    order: 12;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-xl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-xl-first {
    order: -1;
  }
  .order-xl-last {
    order: 13;
  }
  .order-xl-0 {
    order: 0;
  }
  .order-xl-1 {
    order: 1;
  }
  .order-xl-2 {
    order: 2;
  }
  .order-xl-3 {
    order: 3;
  }
  .order-xl-4 {
    order: 4;
  }
  .order-xl-5 {
    order: 5;
  }
  .order-xl-6 {
    order: 6;
  }
  .order-xl-7 {
    order: 7;
  }
  .order-xl-8 {
    order: 8;
  }
  .order-xl-9 {
    order: 9;
  }
  .order-xl-10 {
    order: 10;
  }
  .order-xl-11 {
    order: 11;
  }
  .order-xl-12 {
    order: 12;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
}
@media (max-width: 576px) {
  .shw-sm-1 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-table {
  display: table !important;
}

.d-table-row {
  display: table-row !important;
}

.d-table-cell {
  display: table-cell !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

@media (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }
  .d-sm-inline {
    display: inline !important;
  }
  .d-sm-inline-block {
    display: inline-block !important;
  }
  .d-sm-block {
    display: block !important;
  }
  .d-sm-table {
    display: table !important;
  }
  .d-sm-table-row {
    display: table-row !important;
  }
  .d-sm-table-cell {
    display: table-cell !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-inline-flex {
    display: inline-flex !important;
  }
}
@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }
  .d-md-inline {
    display: inline !important;
  }
  .d-md-inline-block {
    display: inline-block !important;
  }
  .d-md-block {
    display: block !important;
  }
  .d-md-table {
    display: table !important;
  }
  .d-md-table-row {
    display: table-row !important;
  }
  .d-md-table-cell {
    display: table-cell !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-inline-flex {
    display: inline-flex !important;
  }
}
@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }
  .d-lg-inline {
    display: inline !important;
  }
  .d-lg-inline-block {
    display: inline-block !important;
  }
  .d-lg-block {
    display: block !important;
  }
  .d-lg-table {
    display: table !important;
  }
  .d-lg-table-row {
    display: table-row !important;
  }
  .d-lg-table-cell {
    display: table-cell !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-inline-flex {
    display: inline-flex !important;
  }
}
@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }
  .d-xl-inline {
    display: inline !important;
  }
  .d-xl-inline-block {
    display: inline-block !important;
  }
  .d-xl-block {
    display: block !important;
  }
  .d-xl-table {
    display: table !important;
  }
  .d-xl-table-row {
    display: table-row !important;
  }
  .d-xl-table-cell {
    display: table-cell !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-inline-flex {
    display: inline-flex !important;
  }
}
.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.w-auto {
  width: auto !important;
}

.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.h-auto {
  height: auto !important;
}

.mw-100 {
  max-width: 100% !important;
}

.mh-100 {
  max-height: 100% !important;
}

.m-0 {
  margin: 0 !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

.m-auto {
  margin: auto !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

@media (min-width: 576px) {
  .m-sm-0 {
    margin: 0 !important;
  }
  .mt-sm-0,
  .my-sm-0 {
    margin-top: 0 !important;
  }
  .mr-sm-0,
  .mx-sm-0 {
    margin-right: 0 !important;
  }
  .mb-sm-0,
  .my-sm-0 {
    margin-bottom: 0 !important;
  }
  .ml-sm-0,
  .mx-sm-0 {
    margin-left: 0 !important;
  }
  .m-sm-1 {
    margin: 0.25rem !important;
  }
  .mt-sm-1,
  .my-sm-1 {
    margin-top: 0.25rem !important;
  }
  .mr-sm-1,
  .mx-sm-1 {
    margin-right: 0.25rem !important;
  }
  .mb-sm-1,
  .my-sm-1 {
    margin-bottom: 0.25rem !important;
  }
  .ml-sm-1,
  .mx-sm-1 {
    margin-left: 0.25rem !important;
  }
  .m-sm-2 {
    margin: 0.5rem !important;
  }
  .mt-sm-2,
  .my-sm-2 {
    margin-top: 0.5rem !important;
  }
  .mr-sm-2,
  .mx-sm-2 {
    margin-right: 0.5rem !important;
  }
  .mb-sm-2,
  .my-sm-2 {
    margin-bottom: 0.5rem !important;
  }
  .ml-sm-2,
  .mx-sm-2 {
    margin-left: 0.5rem !important;
  }
  .m-sm-3 {
    margin: 1rem !important;
  }
  .mt-sm-3,
  .my-sm-3 {
    margin-top: 1rem !important;
  }
  .mr-sm-3,
  .mx-sm-3 {
    margin-right: 1rem !important;
  }
  .mb-sm-3,
  .my-sm-3 {
    margin-bottom: 1rem !important;
  }
  .ml-sm-3,
  .mx-sm-3 {
    margin-left: 1rem !important;
  }
  .m-sm-4 {
    margin: 1.5rem !important;
  }
  .mt-sm-4,
  .my-sm-4 {
    margin-top: 1.5rem !important;
  }
  .mr-sm-4,
  .mx-sm-4 {
    margin-right: 1.5rem !important;
  }
  .mb-sm-4,
  .my-sm-4 {
    margin-bottom: 1.5rem !important;
  }
  .ml-sm-4,
  .mx-sm-4 {
    margin-left: 1.5rem !important;
  }
  .m-sm-5 {
    margin: 3rem !important;
  }
  .mt-sm-5,
  .my-sm-5 {
    margin-top: 3rem !important;
  }
  .mr-sm-5,
  .mx-sm-5 {
    margin-right: 3rem !important;
  }
  .mb-sm-5,
  .my-sm-5 {
    margin-bottom: 3rem !important;
  }
  .ml-sm-5,
  .mx-sm-5 {
    margin-left: 3rem !important;
  }
  .p-sm-0 {
    padding: 0 !important;
  }
  .pt-sm-0,
  .py-sm-0 {
    padding-top: 0 !important;
  }
  .pr-sm-0,
  .px-sm-0 {
    padding-right: 0 !important;
  }
  .pb-sm-0,
  .py-sm-0 {
    padding-bottom: 0 !important;
  }
  .pl-sm-0,
  .px-sm-0 {
    padding-left: 0 !important;
  }
  .p-sm-1 {
    padding: 0.25rem !important;
  }
  .pt-sm-1,
  .py-sm-1 {
    padding-top: 0.25rem !important;
  }
  .pr-sm-1,
  .px-sm-1 {
    padding-right: 0.25rem !important;
  }
  .pb-sm-1,
  .py-sm-1 {
    padding-bottom: 0.25rem !important;
  }
  .pl-sm-1,
  .px-sm-1 {
    padding-left: 0.25rem !important;
  }
  .p-sm-2 {
    padding: 0.5rem !important;
  }
  .pt-sm-2,
  .py-sm-2 {
    padding-top: 0.5rem !important;
  }
  .pr-sm-2,
  .px-sm-2 {
    padding-right: 0.5rem !important;
  }
  .pb-sm-2,
  .py-sm-2 {
    padding-bottom: 0.5rem !important;
  }
  .pl-sm-2,
  .px-sm-2 {
    padding-left: 0.5rem !important;
  }
  .p-sm-3 {
    padding: 1rem !important;
  }
  .pt-sm-3,
  .py-sm-3 {
    padding-top: 1rem !important;
  }
  .pr-sm-3,
  .px-sm-3 {
    padding-right: 1rem !important;
  }
  .pb-sm-3,
  .py-sm-3 {
    padding-bottom: 1rem !important;
  }
  .pl-sm-3,
  .px-sm-3 {
    padding-left: 1rem !important;
  }
  .p-sm-4 {
    padding: 1.5rem !important;
  }
  .pt-sm-4,
  .py-sm-4 {
    padding-top: 1.5rem !important;
  }
  .pr-sm-4,
  .px-sm-4 {
    padding-right: 1.5rem !important;
  }
  .pb-sm-4,
  .py-sm-4 {
    padding-bottom: 1.5rem !important;
  }
  .pl-sm-4,
  .px-sm-4 {
    padding-left: 1.5rem !important;
  }
  .p-sm-5 {
    padding: 3rem !important;
  }
  .pt-sm-5,
  .py-sm-5 {
    padding-top: 3rem !important;
  }
  .pr-sm-5,
  .px-sm-5 {
    padding-right: 3rem !important;
  }
  .pb-sm-5,
  .py-sm-5 {
    padding-bottom: 3rem !important;
  }
  .pl-sm-5,
  .px-sm-5 {
    padding-left: 3rem !important;
  }
  .m-sm-auto {
    margin: auto !important;
  }
  .mt-sm-auto,
  .my-sm-auto {
    margin-top: auto !important;
  }
  .mr-sm-auto,
  .mx-sm-auto {
    margin-right: auto !important;
  }
  .mb-sm-auto,
  .my-sm-auto {
    margin-bottom: auto !important;
  }
  .ml-sm-auto,
  .mx-sm-auto {
    margin-left: auto !important;
  }
}
@media (min-width: 768px) {
  .m-md-0 {
    margin: 0 !important;
  }
  .mt-md-0,
  .my-md-0 {
    margin-top: 0 !important;
  }
  .mr-md-0,
  .mx-md-0 {
    margin-right: 0 !important;
  }
  .mb-md-0,
  .my-md-0 {
    margin-bottom: 0 !important;
  }
  .ml-md-0,
  .mx-md-0 {
    margin-left: 0 !important;
  }
  .m-md-1 {
    margin: 0.25rem !important;
  }
  .mt-md-1,
  .my-md-1 {
    margin-top: 0.25rem !important;
  }
  .mr-md-1,
  .mx-md-1 {
    margin-right: 0.25rem !important;
  }
  .mb-md-1,
  .my-md-1 {
    margin-bottom: 0.25rem !important;
  }
  .ml-md-1,
  .mx-md-1 {
    margin-left: 0.25rem !important;
  }
  .m-md-2 {
    margin: 0.5rem !important;
  }
  .mt-md-2,
  .my-md-2 {
    margin-top: 0.5rem !important;
  }
  .mr-md-2,
  .mx-md-2 {
    margin-right: 0.5rem !important;
  }
  .mb-md-2,
  .my-md-2 {
    margin-bottom: 0.5rem !important;
  }
  .ml-md-2,
  .mx-md-2 {
    margin-left: 0.5rem !important;
  }
  .m-md-3 {
    margin: 1rem !important;
  }
  .mt-md-3,
  .my-md-3 {
    margin-top: 1rem !important;
  }
  .mr-md-3,
  .mx-md-3 {
    margin-right: 1rem !important;
  }
  .mb-md-3,
  .my-md-3 {
    margin-bottom: 1rem !important;
  }
  .ml-md-3,
  .mx-md-3 {
    margin-left: 1rem !important;
  }
  .m-md-4 {
    margin: 1.5rem !important;
  }
  .mt-md-4,
  .my-md-4 {
    margin-top: 1.5rem !important;
  }
  .mr-md-4,
  .mx-md-4 {
    margin-right: 1.5rem !important;
  }
  .mb-md-4,
  .my-md-4 {
    margin-bottom: 1.5rem !important;
  }
  .ml-md-4,
  .mx-md-4 {
    margin-left: 1.5rem !important;
  }
  .m-md-5 {
    margin: 3rem !important;
  }
  .mt-md-5,
  .my-md-5 {
    margin-top: 3rem !important;
  }
  .mr-md-5,
  .mx-md-5 {
    margin-right: 3rem !important;
  }
  .mb-md-5,
  .my-md-5 {
    margin-bottom: 3rem !important;
  }
  .ml-md-5,
  .mx-md-5 {
    margin-left: 3rem !important;
  }
  .p-md-0 {
    padding: 0 !important;
  }
  .pt-md-0,
  .py-md-0 {
    padding-top: 0 !important;
  }
  .pr-md-0,
  .px-md-0 {
    padding-right: 0 !important;
  }
  .pb-md-0,
  .py-md-0 {
    padding-bottom: 0 !important;
  }
  .pl-md-0,
  .px-md-0 {
    padding-left: 0 !important;
  }
  .p-md-1 {
    padding: 0.25rem !important;
  }
  .pt-md-1,
  .py-md-1 {
    padding-top: 0.25rem !important;
  }
  .pr-md-1,
  .px-md-1 {
    padding-right: 0.25rem !important;
  }
  .pb-md-1,
  .py-md-1 {
    padding-bottom: 0.25rem !important;
  }
  .pl-md-1,
  .px-md-1 {
    padding-left: 0.25rem !important;
  }
  .p-md-2 {
    padding: 0.5rem !important;
  }
  .pt-md-2,
  .py-md-2 {
    padding-top: 0.5rem !important;
  }
  .pr-md-2,
  .px-md-2 {
    padding-right: 0.5rem !important;
  }
  .pb-md-2,
  .py-md-2 {
    padding-bottom: 0.5rem !important;
  }
  .pl-md-2,
  .px-md-2 {
    padding-left: 0.5rem !important;
  }
  .p-md-3 {
    padding: 1rem !important;
  }
  .pt-md-3,
  .py-md-3 {
    padding-top: 1rem !important;
  }
  .pr-md-3,
  .px-md-3 {
    padding-right: 1rem !important;
  }
  .pb-md-3,
  .py-md-3 {
    padding-bottom: 1rem !important;
  }
  .pl-md-3,
  .px-md-3 {
    padding-left: 1rem !important;
  }
  .p-md-4 {
    padding: 1.5rem !important;
  }
  .pt-md-4,
  .py-md-4 {
    padding-top: 1.5rem !important;
  }
  .pr-md-4,
  .px-md-4 {
    padding-right: 1.5rem !important;
  }
  .pb-md-4,
  .py-md-4 {
    padding-bottom: 1.5rem !important;
  }
  .pl-md-4,
  .px-md-4 {
    padding-left: 1.5rem !important;
  }
  .p-md-5 {
    padding: 3rem !important;
  }
  .pt-md-5,
  .py-md-5 {
    padding-top: 3rem !important;
  }
  .pr-md-5,
  .px-md-5 {
    padding-right: 3rem !important;
  }
  .pb-md-5,
  .py-md-5 {
    padding-bottom: 3rem !important;
  }
  .pl-md-5,
  .px-md-5 {
    padding-left: 3rem !important;
  }
  .m-md-auto {
    margin: auto !important;
  }
  .mt-md-auto,
  .my-md-auto {
    margin-top: auto !important;
  }
  .mr-md-auto,
  .mx-md-auto {
    margin-right: auto !important;
  }
  .mb-md-auto,
  .my-md-auto {
    margin-bottom: auto !important;
  }
  .ml-md-auto,
  .mx-md-auto {
    margin-left: auto !important;
  }
}
@media (min-width: 992px) {
  .m-lg-0 {
    margin: 0 !important;
  }
  .mt-lg-0,
  .my-lg-0 {
    margin-top: 0 !important;
  }
  .mr-lg-0,
  .mx-lg-0 {
    margin-right: 0 !important;
  }
  .mb-lg-0,
  .my-lg-0 {
    margin-bottom: 0 !important;
  }
  .ml-lg-0,
  .mx-lg-0 {
    margin-left: 0 !important;
  }
  .m-lg-1 {
    margin: 0.25rem !important;
  }
  .mt-lg-1,
  .my-lg-1 {
    margin-top: 0.25rem !important;
  }
  .mr-lg-1,
  .mx-lg-1 {
    margin-right: 0.25rem !important;
  }
  .mb-lg-1,
  .my-lg-1 {
    margin-bottom: 0.25rem !important;
  }
  .ml-lg-1,
  .mx-lg-1 {
    margin-left: 0.25rem !important;
  }
  .m-lg-2 {
    margin: 0.5rem !important;
  }
  .mt-lg-2,
  .my-lg-2 {
    margin-top: 0.5rem !important;
  }
  .mr-lg-2,
  .mx-lg-2 {
    margin-right: 0.5rem !important;
  }
  .mb-lg-2,
  .my-lg-2 {
    margin-bottom: 0.5rem !important;
  }
  .ml-lg-2,
  .mx-lg-2 {
    margin-left: 0.5rem !important;
  }
  .m-lg-3 {
    margin: 1rem !important;
  }
  .mt-lg-3,
  .my-lg-3 {
    margin-top: 1rem !important;
  }
  .mr-lg-3,
  .mx-lg-3 {
    margin-right: 1rem !important;
  }
  .mb-lg-3,
  .my-lg-3 {
    margin-bottom: 1rem !important;
  }
  .ml-lg-3,
  .mx-lg-3 {
    margin-left: 1rem !important;
  }
  .m-lg-4 {
    margin: 1.5rem !important;
  }
  .mt-lg-4,
  .my-lg-4 {
    margin-top: 1.5rem !important;
  }
  .mr-lg-4,
  .mx-lg-4 {
    margin-right: 1.5rem !important;
  }
  .mb-lg-4,
  .my-lg-4 {
    margin-bottom: 1.5rem !important;
  }
  .ml-lg-4,
  .mx-lg-4 {
    margin-left: 1.5rem !important;
  }
  .m-lg-5 {
    margin: 3rem !important;
  }
  .mt-lg-5,
  .my-lg-5 {
    margin-top: 3rem !important;
  }
  .mr-lg-5,
  .mx-lg-5 {
    margin-right: 3rem !important;
  }
  .mb-lg-5,
  .my-lg-5 {
    margin-bottom: 3rem !important;
  }
  .ml-lg-5,
  .mx-lg-5 {
    margin-left: 3rem !important;
  }
  .p-lg-0 {
    padding: 0 !important;
  }
  .pt-lg-0,
  .py-lg-0 {
    padding-top: 0 !important;
  }
  .pr-lg-0,
  .px-lg-0 {
    padding-right: 0 !important;
  }
  .pb-lg-0,
  .py-lg-0 {
    padding-bottom: 0 !important;
  }
  .pl-lg-0,
  .px-lg-0 {
    padding-left: 0 !important;
  }
  .p-lg-1 {
    padding: 0.25rem !important;
  }
  .pt-lg-1,
  .py-lg-1 {
    padding-top: 0.25rem !important;
  }
  .pr-lg-1,
  .px-lg-1 {
    padding-right: 0.25rem !important;
  }
  .pb-lg-1,
  .py-lg-1 {
    padding-bottom: 0.25rem !important;
  }
  .pl-lg-1,
  .px-lg-1 {
    padding-left: 0.25rem !important;
  }
  .p-lg-2 {
    padding: 0.5rem !important;
  }
  .pt-lg-2,
  .py-lg-2 {
    padding-top: 0.5rem !important;
  }
  .pr-lg-2,
  .px-lg-2 {
    padding-right: 0.5rem !important;
  }
  .pb-lg-2,
  .py-lg-2 {
    padding-bottom: 0.5rem !important;
  }
  .pl-lg-2,
  .px-lg-2 {
    padding-left: 0.5rem !important;
  }
  .p-lg-3 {
    padding: 1rem !important;
  }
  .pt-lg-3,
  .py-lg-3 {
    padding-top: 1rem !important;
  }
  .pr-lg-3,
  .px-lg-3 {
    padding-right: 1rem !important;
  }
  .pb-lg-3,
  .py-lg-3 {
    padding-bottom: 1rem !important;
  }
  .pl-lg-3,
  .px-lg-3 {
    padding-left: 1rem !important;
  }
  .p-lg-4 {
    padding: 1.5rem !important;
  }
  .pt-lg-4,
  .py-lg-4 {
    padding-top: 1.5rem !important;
  }
  .pr-lg-4,
  .px-lg-4 {
    padding-right: 1.5rem !important;
  }
  .pb-lg-4,
  .py-lg-4 {
    padding-bottom: 1.5rem !important;
  }
  .pl-lg-4,
  .px-lg-4 {
    padding-left: 1.5rem !important;
  }
  .p-lg-5 {
    padding: 3rem !important;
  }
  .pt-lg-5,
  .py-lg-5 {
    padding-top: 3rem !important;
  }
  .pr-lg-5,
  .px-lg-5 {
    padding-right: 3rem !important;
  }
  .pb-lg-5,
  .py-lg-5 {
    padding-bottom: 3rem !important;
  }
  .pl-lg-5,
  .px-lg-5 {
    padding-left: 3rem !important;
  }
  .m-lg-auto {
    margin: auto !important;
  }
  .mt-lg-auto,
  .my-lg-auto {
    margin-top: auto !important;
  }
  .mr-lg-auto,
  .mx-lg-auto {
    margin-right: auto !important;
  }
  .mb-lg-auto,
  .my-lg-auto {
    margin-bottom: auto !important;
  }
  .ml-lg-auto,
  .mx-lg-auto {
    margin-left: auto !important;
  }
}
@media (min-width: 1200px) {
  .m-xl-0 {
    margin: 0 !important;
  }
  .mt-xl-0,
  .my-xl-0 {
    margin-top: 0 !important;
  }
  .mr-xl-0,
  .mx-xl-0 {
    margin-right: 0 !important;
  }
  .mb-xl-0,
  .my-xl-0 {
    margin-bottom: 0 !important;
  }
  .ml-xl-0,
  .mx-xl-0 {
    margin-left: 0 !important;
  }
  .m-xl-1 {
    margin: 0.25rem !important;
  }
  .mt-xl-1,
  .my-xl-1 {
    margin-top: 0.25rem !important;
  }
  .mr-xl-1,
  .mx-xl-1 {
    margin-right: 0.25rem !important;
  }
  .mb-xl-1,
  .my-xl-1 {
    margin-bottom: 0.25rem !important;
  }
  .ml-xl-1,
  .mx-xl-1 {
    margin-left: 0.25rem !important;
  }
  .m-xl-2 {
    margin: 0.5rem !important;
  }
  .mt-xl-2,
  .my-xl-2 {
    margin-top: 0.5rem !important;
  }
  .mr-xl-2,
  .mx-xl-2 {
    margin-right: 0.5rem !important;
  }
  .mb-xl-2,
  .my-xl-2 {
    margin-bottom: 0.5rem !important;
  }
  .ml-xl-2,
  .mx-xl-2 {
    margin-left: 0.5rem !important;
  }
  .m-xl-3 {
    margin: 1rem !important;
  }
  .mt-xl-3,
  .my-xl-3 {
    margin-top: 1rem !important;
  }
  .mr-xl-3,
  .mx-xl-3 {
    margin-right: 1rem !important;
  }
  .mb-xl-3,
  .my-xl-3 {
    margin-bottom: 1rem !important;
  }
  .ml-xl-3,
  .mx-xl-3 {
    margin-left: 1rem !important;
  }
  .m-xl-4 {
    margin: 1.5rem !important;
  }
  .mt-xl-4,
  .my-xl-4 {
    margin-top: 1.5rem !important;
  }
  .mr-xl-4,
  .mx-xl-4 {
    margin-right: 1.5rem !important;
  }
  .mb-xl-4,
  .my-xl-4 {
    margin-bottom: 1.5rem !important;
  }
  .ml-xl-4,
  .mx-xl-4 {
    margin-left: 1.5rem !important;
  }
  .m-xl-5 {
    margin: 3rem !important;
  }
  .mt-xl-5,
  .my-xl-5 {
    margin-top: 3rem !important;
  }
  .mr-xl-5,
  .mx-xl-5 {
    margin-right: 3rem !important;
  }
  .mb-xl-5,
  .my-xl-5 {
    margin-bottom: 3rem !important;
  }
  .ml-xl-5,
  .mx-xl-5 {
    margin-left: 3rem !important;
  }
  .p-xl-0 {
    padding: 0 !important;
  }
  .pt-xl-0,
  .py-xl-0 {
    padding-top: 0 !important;
  }
  .pr-xl-0,
  .px-xl-0 {
    padding-right: 0 !important;
  }
  .pb-xl-0,
  .py-xl-0 {
    padding-bottom: 0 !important;
  }
  .pl-xl-0,
  .px-xl-0 {
    padding-left: 0 !important;
  }
  .p-xl-1 {
    padding: 0.25rem !important;
  }
  .pt-xl-1,
  .py-xl-1 {
    padding-top: 0.25rem !important;
  }
  .pr-xl-1,
  .px-xl-1 {
    padding-right: 0.25rem !important;
  }
  .pb-xl-1,
  .py-xl-1 {
    padding-bottom: 0.25rem !important;
  }
  .pl-xl-1,
  .px-xl-1 {
    padding-left: 0.25rem !important;
  }
  .p-xl-2 {
    padding: 0.5rem !important;
  }
  .pt-xl-2,
  .py-xl-2 {
    padding-top: 0.5rem !important;
  }
  .pr-xl-2,
  .px-xl-2 {
    padding-right: 0.5rem !important;
  }
  .pb-xl-2,
  .py-xl-2 {
    padding-bottom: 0.5rem !important;
  }
  .pl-xl-2,
  .px-xl-2 {
    padding-left: 0.5rem !important;
  }
  .p-xl-3 {
    padding: 1rem !important;
  }
  .pt-xl-3,
  .py-xl-3 {
    padding-top: 1rem !important;
  }
  .pr-xl-3,
  .px-xl-3 {
    padding-right: 1rem !important;
  }
  .pb-xl-3,
  .py-xl-3 {
    padding-bottom: 1rem !important;
  }
  .pl-xl-3,
  .px-xl-3 {
    padding-left: 1rem !important;
  }
  .p-xl-4 {
    padding: 1.5rem !important;
  }
  .pt-xl-4,
  .py-xl-4 {
    padding-top: 1.5rem !important;
  }
  .pr-xl-4,
  .px-xl-4 {
    padding-right: 1.5rem !important;
  }
  .pb-xl-4,
  .py-xl-4 {
    padding-bottom: 1.5rem !important;
  }
  .pl-xl-4,
  .px-xl-4 {
    padding-left: 1.5rem !important;
  }
  .p-xl-5 {
    padding: 3rem !important;
  }
  .pt-xl-5,
  .py-xl-5 {
    padding-top: 3rem !important;
  }
  .pr-xl-5,
  .px-xl-5 {
    padding-right: 3rem !important;
  }
  .pb-xl-5,
  .py-xl-5 {
    padding-bottom: 3rem !important;
  }
  .pl-xl-5,
  .px-xl-5 {
    padding-left: 3rem !important;
  }
  .m-xl-auto {
    margin: auto !important;
  }
  .mt-xl-auto,
  .my-xl-auto {
    margin-top: auto !important;
  }
  .mr-xl-auto,
  .mx-xl-auto {
    margin-right: auto !important;
  }
  .mb-xl-auto,
  .my-xl-auto {
    margin-bottom: auto !important;
  }
  .ml-xl-auto,
  .mx-xl-auto {
    margin-left: auto !important;
  }
}
.border-0 {
  border: 0 !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-right-0 {
  border-right: 0 !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-left-0 {
  border-left: 0 !important;
}

.d-flex {
  display: flex !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Open Sans", sans-serif;
  font-weight: 400;
  outline: none;
}

html {
  font-size: 10px !important;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

i {
  overflow: hidden;
  vertical-align: middle;
  font-size: 1.2rem;
}

svg {
  vertical-align: middle;
}

input {
  margin: 0;
  font-size: inherit;
  line-height: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

table {
  border-collapse: collapse;
}

img {
  height: auto;
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type=checkbox]:checked::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(/src/assets/image/svg/tick.svg);
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 1.6rem !important;
  }
}
@supports (-moz-appearance: none) {
  input[type=checkbox]:checked::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(/src/assets/image/svg/tick.svg);
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 1.1rem !important;
  }
}
.btn {
  padding: 1rem 1.5rem;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.4rem;
  border: none;
  border-radius: 0.4rem;
  transition: all 0.2s linear;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
}

.btn--block {
  display: block;
  width: 100%;
}

.btn--primary {
  color: #fff !important;
  background-color: rgba(181, 156, 255, 0.5960784314) !important;
  font-size: var(--font-size-14);
}

.btn[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.container {
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 54rem;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 72rem;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 96rem;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: calc(126rem + 24px);
  }
}
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #e6e6fa;
}
.navbar .navbar-content {
  display: flex;
  justify-content: space-between;
  flex-basis: 70%;
}
.navbar .navbar-content .navbar-brand {
  font-size: var(--spacer-5);
  transition: all 0.1s linear;
  padding: 1rem;
  color: #2c3e50;
}
.navbar .navbar-content .navbar-menu .navbar-items {
  display: flex;
}
.navbar .navbar-content .navbar-menu .navbar-items .navbar-item {
  padding: 1rem;
}
.navbar .navbar-content .navbar-menu .navbar-items .navbar-item .navbar-link {
  font-size: var(--spacer-4);
  transition: all 0.1s linear;
  margin-right: 1rem;
  color: #2c3e50;
}
.navbar .navbar-content .navbar-menu .navbar-items .navbar-item .navbar-link:hover {
  cursor: pointer;
  color: #6589ad;
}
.navbar .navbar-login {
  padding: 1rem;
}
.navbar .navbar-login .navbar-login-link {
  font-size: var(--spacer-4);
  transition: all 0.1s linear;
  padding: 1rem;
  color: #2c3e50;
}
.navbar .navbar-login .navbar-login-link:hover {
  cursor: pointer;
  color: #6589ad;
}

.navbar-toggle {
  display: none;
  background-color: #e6e6fa;
  border-bottom: 1px solid rgba(207, 207, 207, 0.603);
  position: relative;
}
.navbar-toggle .navbar-toggle-button {
  border: none;
  transition: all 0.2s linear;
  padding: 1rem;
  background-color: transparent;
}
.navbar-toggle .navbar-toggle-button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.navbar-toggle .navbar-toggle-menu {
  display: none;
  height: 100%;
  background-color: #e6e6fa;
  z-index: 4;
  transition: all 0.2s linear;
  position: absolute;
  width: 100%;
}
.navbar-toggle .navbar-toggle-menu .navbar-toggle-items {
  text-align: center;
}
.navbar-toggle .navbar-toggle-menu .navbar-toggle-items .navbar-toggle-item {
  padding: 1rem;
  transition: all 0.2s linear;
  border-bottom: 0.1rem solid rgba(232, 211, 228, 0.8);
  background-color: #e6e6fa;
}
.navbar-toggle .navbar-toggle-menu .navbar-toggle-items .navbar-toggle-item .navbar-toggle-link {
  display: block;
  font-size: var(--spacer-5);
}
.navbar-toggle .navbar-toggle-menu .navbar-toggle-items .navbar-toggle-item:hover {
  cursor: pointer;
  background-color: rgba(241, 241, 252, 0.6901960784);
}
.navbar-toggle .navbar-toggle-menu.active {
  display: block;
}

.navbar-toggle-touch-close {
  display: none;
}
.navbar-toggle-touch-close.active {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(224, 222, 222, 0.37);
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
  .navbar-toggle {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .navbar-toggle-touch-close.active {
    display: none;
  }
}
.footer .footer-container {
  width: 100%;
  min-height: 20rem;
  display: flex;
  justify-content: space-evenly;
  background-color: #e6e6fa;
  padding: 1rem;
}
.footer .footer-container .about-container {
  order: 1;
  display: flex;
  justify-content: space-around;
  flex-basis: 30%;
}
.footer .footer-container .about-container .project-content {
  display: flex;
  flex-direction: column;
}
.footer .footer-container .about-container .help-content {
  display: flex;
  flex-direction: column;
}
.footer .footer-container .about-container .__title {
  color: #bbb;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}
.footer .footer-container .about-container .__item {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: #2c3e50;
  transition: all 0.2s linear;
}
.footer .footer-container .about-container .__item:hover {
  color: #6589ad;
}
.footer .footer-container .social-container {
  order: 3;
  flex-basis: 15%;
}
.footer .footer-container .social-container .__social-items {
  display: flex;
  justify-content: space-evenly;
}
.footer .footer-container .social-container .__social-items .__social-item {
  text-align: start;
  padding: 1rem;
}
.footer .footer-container .social-container .__social-items .__social-item .__social-item-link {
  transition: transform 0.3s ease, height 0.3s ease, width 0.3s ease;
}
.footer .footer-container .social-container .__social-items .__social-item .__social-item-link:hover svg {
  transform: translateY(-5px) scale(1.1);
}
.footer .footer-container .social-container .__social-items .__social-item .__social-item-link svg {
  transition: transform 0.3s ease, height 0.3s ease, width 0.3s ease;
}
.footer .footer-container .social-container .__title {
  color: #bbb;
  font-weight: bold;
  text-align: center;
}
.footer .footer-container .address-container {
  order: 2;
  flex-basis: 25%;
}
.footer .footer-container .address-container .__title {
  color: #bbb;
  font-weight: bold;
  margin-bottom: 1rem;
}
.footer .footer-container .address-container .address-container__items .address-container__item {
  margin-bottom: 1rem;
}
.footer .footer-container .address-container .address-container__items .address-container__item label {
  color: #30434a;
  font-weight: bold;
  font-size: 1.3rem;
  padding-left: 1rem;
}
.footer .footer-container .address-container .address-container__items .address-container__content {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.footer .copyright-container {
  width: 100%;
  min-height: 1.8rem;
  line-height: 1.8rem;
  background-color: #f8f8f8;
  text-align: end;
  padding-right: 1rem;
}
.footer .copyright-container .copyright-content {
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .footer .footer-container {
    flex-direction: column;
  }
  .footer .footer-container .about-container {
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .footer .footer-container .about-container .__title {
    text-align: start;
    padding: 2rem;
    border: 0.2rem solid rgba(189, 168, 253, 0.4431372549);
    position: relative;
    transition: 0.2s linear all;
    cursor: pointer;
  }
  .footer .footer-container .about-container .__title::after {
    content: "";
    width: 2.4rem;
    height: 2.4rem;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    transition: transform 0.2s linear;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    background-image: url("../../assets/image/svg/filter-plus.svg");
  }
  .footer .footer-container .about-container .__title.rotate::after {
    transform: translateY(-50%) rotate(-180deg);
    transform-origin: center center;
    background-image: url("../../assets/image/svg/filter-minus.svg");
  }
  .footer .footer-container .about-container .__item {
    transition: all 0.2s linear;
    display: none;
    padding: 1rem;
    border-bottom: 0.1rem solid rgba(189, 168, 253, 0.4431372549);
  }
  .footer .footer-container .about-container .__item.active {
    display: block;
  }
  .footer .footer-container .address-container {
    margin-bottom: 2rem;
  }
  .footer .footer-container .address-container .__title {
    text-align: center;
  }
  .footer .footer-container .address-container .address-container__items {
    border: 0.2rem solid rgba(181, 156, 255, 0.5960784314);
    margin-bottom: 1rem;
    padding: 2rem;
    text-align: center;
  }
  .footer .footer-container .social-container {
    margin-bottom: 2rem;
  }
}

.login_container {
  position: relative;
}
.login_container .login_form {
  width: max-content;
  padding: 3rem;
  border-radius: 0.4rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.08);
}
.login_container .login_form .login_header h2 {
  font-size: var(--font-size-20);
  font-weight: bold;
  margin-bottom: 1rem;
  color: rgba(181, 156, 255, 0.5960784314);
}
.login_container .login_form .login_header p {
  font-size: var(--font-size-12);
  color: #bbb;
}
.login_container .login_form .login_main .login_main-input {
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.login_container .login_form .login_main .login_main-input .login-input {
  width: 35rem;
  height: 4.2rem;
  font-size: var(--font-size-13);
  padding: 1rem;
  border-radius: 0.4rem;
  transition: all 0.2s linear;
  border: none;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.08);
}
.login_container .login_form .login_main .login_main-input .login-span {
  padding: 0.5rem;
  font-size: var(--font-size-11);
}

@media screen and (max-width: 768px) {
  .login_main .login_main-input .login-input {
    width: 30rem !important;
    height: 3.5rem;
  }
}
input.validate-error,
textarea.validate-error,
select.validate-error {
  border: 0.1rem solid #d12f3f !important;
}

span.validate-error {
  color: #d12f3f !important;
}

/*# sourceMappingURL=App.css.map */
