$primary-1: #ec9087cc;
$primary-2: #e1b787cc;
$primary-3: #c2d7a4cc;
$primary-4: #9bc5cccc;
$primary-5: #b096bbcc;
$primary-6: #d7b09bcc;
$primary-7: #ffe066cc;
$primary-8: #2c3e50;
$primary-9: #cca3c4cc;
$primary-10: #d19e79cc;

$secondary-1: #fff;
$secondary-2: #efefef;
$secondary-3: #bbb;
$secondary-4: #eb5b26;
$secondary-5: #044e99;
$secondary-6: #d12f3f;
$secondary-7: #da5966;
$secondary-8: #252525;
$secondary-9: #30434a;
$secondary-10: #feeaea;
$secondary-11: #6589ad;